* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  &:focus {
    outline: none;
    // border: 1px solid #2668bd;
  }
}

h1 {
  font-family: 'Roboto';
  font-weight: 700;
}

h2, h3, h4, h5 {
  font-family: 'Roboto';
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin: 25px;
}

.grid h2 {
  grid-column: span 12;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

#headerGrid {
  margin: 0;
}

body, html {
  // background: #FAFBFD;
  // background: url('https://images.pexels.com/photos/812958/pexels-photo-812958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  color: #333;
  // background: #050f19;
  // color: #d07d02;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-size: 16px;
}

html {
  // background: url('https://images.pexels.com/photos/1179229/pexels-photo-1179229.jpeg');
  // background: url('https://images.pexels.com/photos/414122/pexels-photo-414122.jpeg');
  background: url('https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg');
  // background: url('https://images.pexels.com/photos/2175952/pexels-photo-2175952.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#appContainer {
  width: 90%;
  margin-left: 5%;
}

#microGrid {
  position: fixed;
  margin-top: 0;
  left: 1.25%;
}

textarea {
  width: 100%;
}

input, textarea, .dropzone, .microList {
  display: block;
  background: white;
  // color: #f0f0f0;
  // background: #f7f7f7;
  border: 1px solid #eee;
  // color: #15bcef;
  // background: #1c3d67;
  // border: 1px solid #1c3d67;
  padding: .5em 1em;
  margin: 5px 0;
  // font-family: monospace;
  font-size: 1rem;
  border-radius: 2px;
  padding: .75em 1em;
  &::placeholder {
    // color: #3c75af;
    color: #bbb;
  }
}
#andalusianTitle {
  grid-column: 6 / span 2;
  text-align: center;
}
input {
  letter-spacing: .035rem;
}
input[type="text"], input[type="password"] {
  width: 100%;
}
#loginForm, #signupForm {
  position: relative;
  width: 76%;
  left: 50%;
  margin-left: -38%;
}
#loginForm input {
  width: 100%;
}
form h2 {
  text-align: center;
  margin-top: 0;
}
// input[name="functionName"] {
//   display: inline-block;
//   width: 65%;
// }
.saveButton {
  display: block;
}
.coupledInputs {
  margin: 0;
}
.toggleSignup {
  display: inline-block;
  margin-left: 1rem;
  &:hover {
    cursor: pointer;
  }
}
select {
  background: white;
  padding: 1em;
  margin: 10px 0;
  font-size: 10pt;
  border: 1px solid #eee;
  border-radius: 2px;
  width: 100%;
}
.container {
  background: #ffffff;
  // background: #002235;
  padding: 3rem;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}
button, .dropzone {
  border-radius: 2px;
  background: #E4EBF6;
  border: none;
  margin: 10px 5px 10px 0;
  padding: 1em 1.5em;
  transition: 1s ease all;
  font-family: 'Lato', sans-serif;
  // width: 8rem;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  &:hover {
    background: #EEA822;
    background: linear-gradient(135deg, #ffad34, #ff7021);
    // color: white;
  }
  &:active {
    // background: #72cc20;
    background: #ff7021;
    box-shadow: inset 0 0 10px rgba(0,0,0,.25);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 25px;
  background: white;
  box-shadow: 5px 0 10px rgba(0,0,0,.125);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  h1 {
    display: inline;
    margin: 0;
  }
  #iconHolder {
    height: 50px;
    width: 50px;
    border-radius: 2px;
    // background: #eee;
    background-image: url('https://icon-library.net/images/horse-icon-png/horse-icon-png-2.jpg');
    background-size: cover;
  }
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  background: #bbb;
  box-shadow: 5px 0 10px rgba(0,0,0,.125);
}

#signoutButton {
  margin: 0;
  grid-column: 12;
  width: 100%;
}

#loginContainer, #signupContainer {
  grid-column: 4 / span 6;
}

.leftColumn {
  grid-column: 1 / span 5;
}
.mainColumn {
  grid-column: 6 / span 7;
}

#loginButton {
  padding: .75rem 2rem;
}

#dropz {
  display: flex;
  font-size: 9pt;
  justify-content: space-around;
  &:focus {
    outline: 0;
  }
}

#drop1 {
  margin-top: 15px;
  width: auto;
}

#codeHere, #googleKey {
margin: 0 auto;
width: 98%;
}

.functionName {
  margin-bottom: 15px;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

#bucketsDropdown {
  width: 300px !important;
}

[type=radio] {
  opacity: 0;
  width: 0;
  height: 0
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  padding: 1px;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.radio label img {
  // margin-right: 10px;
  // margin-bottom: 10px;
  margin-top: 10px;
  height: 25px;
  width: 25px;
}

#currentFunctions {
  text-align: right;
  position: relative;
  margin-bottom: 20px;
}

// .googleInfo {
//   display: flex;
//   justify-content: space-around;
// }

#googleProject {
  margin-right: 5px;
}

// .azureButton {
//   margin-left: 10px;
// }

h5 {
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 0;
  line-height: 15px;
  font-size: 14px;
  color: rgb(83, 83, 83)
}

// #awsCredentials, #azureCredentials, #dockerCredentials {
//   display: grid;
//   grid-template-columns: calc(30% - 3px) calc(70% - 3px);
//   grid-gap: 6px;
//   align-items: center;
// }

#awsCredentials input, #googleCredentials input {
  margin: 0;
}

#awsCredentials label, #azureCredentials label, #dockerCredentials label {
  grid-column: 1;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: -.0125em;
  // font-family: monospace;
}

#dockerCredentials input, #azureCredentials input{
  margin: 0
}

#awsCredentials input {
  grid-column: 2;
}

#awsCredentials button {
  margin: 0;
}

// .keySelection, #awsRegion {
//   width: 100%;
//   height: 100%;
//   margin: 0;
// }

#awsRegionAcct, #GKeySelect {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 15px;
}

#regionBtn, #credentialsBtn, #createFuncBtn, #createBucketBtn {
align-items: flex-end;
margin-left: 0;
}

#Runtime, #googleProject, #functionName  {
  display: block;
  margin-left: 0;
  margin-top: 5px
}

#Runtime, #azureTemplate {
  width: 200px
}

#azureTemplate {
  display: block;
}

#bucketsDropdown, #azureTemplate {
  margin-left: 0;
}

hr {
  margin: 20px 0;
}

#AWSFunctionInfo {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  background-color: white;
  border: 2px solid rgb(87, 87, 87);
  border-radius: 5px;
  padding: 30px;
  margin: 0;
}

#AWSFunctionInfoGrid {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: start;
  justify-content: space-around;
  overflow:scroll;
  height: 100%
}

.myAWSFuncs {
  font-size: 12px;
}

.myAWSFuncsShort, .myGoogleFuncsShort {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 16px;

}

.funcInfoH4, .funcInfoP {
  display: inline-block;
  margin: 0 15px 5px 0
}

#graph {
  height: 200px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

#invocationList {
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}