* {
  &:focus {
    outline: none;
    border: 1px solid #ddd;
  }
}
body, html {
  background: #d4d4d4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
input, textarea, .dropzone, .microList {
  display: block;
  background: #f7f7f7;
  border: 1px solid #eee;
  padding: .5em 1em;
  margin: 5px 0;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 2px;
  padding: 5px;
  &::placeholder {
    color: #bbb;
  }
}
textarea {
  width: 93%;
}
// input[name="functionName"] {
//   display: inline-block;
//   width: 65%;
// }
.saveButton {
  display: block;
}
.coupledInputs {
  margin: 0;
}
.toggleSignup {
  display: inline-block;
  margin-left: 1rem;
  &:hover {
    cursor: pointer;
  }
}
select {
  background: #f7f7f7;
  border: 1px solid #eee;
  padding: .5em 1em;
  width: 25%;
  margin-left: 10px;
  font-family: monospace;
  font-size: 9pt;
  border-radius: 2px;
}
option {
  &:hover {
    background: purple;
  }
}
.mainContainer {
  background: white;
  width: 500px;
  padding: 1rem;
  text-align: left;
  margin: 3rem 0;
  border-radius: 3px;
  h1 {
    text-align: center;
  }
}
button {
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #eee;
  margin: 10px 5px 10px 0;
  padding: .5em 1em;
  transition: .25s ease all;

  &:hover {
    background: #8fcc52;
  }
}

#dropz {
  display: flex;
  font-size: 9pt;
  justify-content: space-around;
  &:focus {
    outline: 0;
  }
}

#drop1 {
  margin-top: 15px;
}

#codeHere, #googleKey {
margin: 0 auto;
width: 98%;
}

.dropzone {
  transition: .25s ease all;
  &:hover {
    background: #8fcc52;
  }
  border-style: solid;
  border-color: #a8a6a6;
  &:focus {
    outline: 0;
  }
}

.functionName {
  margin-bottom: 15px;
}

.radio {
  display: flex;
  justify-content: flex-start;
}
#bucketsDropdown {
  width: 300px !important;
}

[type=radio] {
  opacity: 0;
  width: 0;
  height: 0
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 1px solid #70234d;
  padding: 1px;
}

img {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 25px;
  width: 25px;
}

#currentFunctions {
  text-align: right;
  position: relative;
  right: 100px;
  margin-bottom: 20px;
}

// .googleInfo {
//   display: flex;
//   justify-content: space-around;
// }

#googleProject {
  margin-right: 5px;
}


h5 {
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 0;
  line-height: 15px;
  font-size: 14px;
  color: rgb(83, 83, 83)
}

#awsRegion, #awsAccessKey, #awsSecretAccessKey, #functionName, #awsRole {
  display: inline-block;
  margin-bottom: 1px;
  width: 200px;
  margin-right: 5px;
}

#awsRegion, #awsAccessKey, #awsSecretAccessKey {

}

#regionBtn, #credentialsBtn, #createFuncBtn, #createBucketBtn {
align-items: flex-end;
margin-left: 0;
}

#awsRuntime, #googleProject, #functionName, #gcRuntime  {
  display: block;
  margin-left: 0;
  margin-top: 5px
}

h4 {
  margin: 5px 0;
  font-family: monospace;
}

#functionName, #googleProject {
  width: 200px;
}

#awsRuntime {
  width: 200px
}

#bucketsDropdown {
  margin-left: 0;
}

hr {
  margin: 20px 0;
}